gce_machine_type: n1-standard-1
gce_default_region: us-east1
gce_default_zone:   us-east1-c
gce_default_network_name: openhab
gce_default_subnetwork_name: openhab-subnet
gce_default_subnetwork_range: 192.168.0.0/16
gce_default_image: rhel73-40g
gce_default_docker_size: 10
ssh_default_image_user: <image user> 
ssh_default_image_password: <image password>
ssh_default_image_port: 22
openhab_repository_ip: 192.168.0.2
openhab_subdomain: <gcloud-subdomain>
openhab_dns_zone: <gcloud dns zone>
openhab_password: <admin password>
amq_password: <admin password>
email: <email>
prefix_id: openhab
name: "<your name>"
instance_validate_delay: 1
ssh_key_file: </path/to/id_rsa.pub>
amq_installer: </path/to/amq-broker-7.0.3-bin.zip installer>
